h2{
  margin-left: 14rem;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  }
.body{
  background-color: lightpink;
}
.card img{
  height: 35rem;
  width: 35rem;
}


#navigation .card {
  
    margin-right:4rem ;
 width: 30rem;
 height: 30rem;
  
  
  margin-left: 4rem;
  background:white;
  }
.container51{
  text-align: center;
  color: black;
  
  
}
#navigation #btn{
  width: 13rem;
  height: 3rem;
  margin-left: 2rem;
  color: red;
}
#navigation h3{
  color: ;
  margin-top: 6rem;
  margin-bottom: -3rem
}

.card1{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  height: 35rem;
  

}
#head{
  text-align: center;
  color: red;
  font-family: 'Berkshire Swash', cursive;
  font-size: 6rem;
  margin-bottom: 4rem;
 
  
}
#navigation h2{
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
color: red;
  
}
.nav
{
  background-color: white;
  
}
.nav h3{
  color: black;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  margin-top: 10rem;
}
#btn{
  text-align: center;
  margin-left: 28rem;
  margin-top: 5rem;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.5rem;
  color: black;
  
}
#nav h2{
    font-family: 'Berkshire Swash', cursive;
  color: red;
  
  
}
#nav h3{
  margin-right: -13rem;
}
#nav #btn{
  margin-left: 22rem;
}